RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS="{{ rabbitmq_server_additional_erl_args }}"
RABBITMQ_MNESIA_BASE="{{ rabbitmq_mnesia_base_dir }}"
RABBITMQ_MNESIA_DIR="{{ rabbitmq_mnesia_dir }}"
RABBITMQ_LOG_BASE="{{ rabbitmq_log_base_dir }}"
RABBITMQ_LOGS="{{ rabbitmq_logs_dir }}/erlvm.log"
RABBITMQ_SASL_LOGS="{{ rabbitmq_sasl_logs_dir }}/sasl.log"
RABBITMQ_PID_FILE="{{ rabbitmq_pid_dir }}/rmq.pid"
